* {
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: block;
    font-size: 14px;
    height: 5vh;
    background: white;
}

.navbar{
    margin: 0;;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 300px;
    background: rgb(226, 231, 220);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

.nav-link, .drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: currentColor;
}

.drop-down{
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: antiquewhite;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    font-size: 16px;
    display: none;
}

.nav-link:hover {
    background-color: rgb(84, 109, 57);
    color: #fff;
    border-radius: 0.5rem;
}

.services:hover .drop-down{
    display: block;
}
            
.services a {
    display: flex;
}

.services .dropdown-icon {
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
    transform: rotate(180deg);
}

.drop-down li:hover {
    background: rgb(84, 109, 57);
    color: #fff;
    border-radius: 0.5rem;
}